<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bet Results</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
</head>

<body class="bg-neutral-100">
    <div class="min-h-screen bg-neutral-50/50">
        <aside
            class="bg-gradient-to-br from-neutral-800 to-neutral-900 -translate-x-80 fixed inset-0 z-50 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0">
            <div class="relative border-b border-white/20">
                <a class="flex items-center gap-4 py-6 px-8" href="#/">
                    <h6
                        class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white">
                        SaltyBet • Glicko-2 Bot</h6>
                </a>
            </div>
            <div class="m-4">
                <ul class="mb-4 flex flex-col gap-1">
                    <li>
                        <a aria-current="page" class="active" href="#">
                            <button
                                class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg bg-gradient-to-tr from-green-600 to-green-400 text-white shadow-md shadow-green-500/20 hover:shadow-lg hover:shadow-green-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                                type="button">
                                <iconify-icon icon="ph:house-line-duotone" height="24"></iconify-icon>
                                <p
                                    class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                                    Dashboard</p>
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="/leaderboard">
                            <button
                                class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                                type="button">
                                <iconify-icon icon="ph:table-duotone" height="24"></iconify-icon>
                                <p
                                    class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                                    Glicko Leaderboard</p>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="p-4 xl:ml-80">
            <div class="mt-12">
                <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
                    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                        <div
                            class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-green-600 to-green-400 text-white shadow-green-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
                            <iconify-icon icon="ph:money-wavy-duotone" height="26"></iconify-icon>
                        </div>
                        <div class="p-4 text-right">
                            <p
                                class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">
                                Current Balance</p>
                            <h4 id="currentBalance"
                                class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
                                $</h4>
                        </div>
                    </div>
                    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                        <div
                            class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-red-600 to-red-400 text-white shadow-red-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
                            <iconify-icon icon="ph:list-numbers-duotone" height="26"></iconify-icon>
                        </div>
                        <div class="p-4 text-right">
                            <p
                                class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">
                                Total Bets</p>
                            <h4 id="totalBets"
                                class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
                                #</h4>
                        </div>
                    </div>
                    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                        <div
                            class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-orange-600 to-orange-400 text-white shadow-orange-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
                            <iconify-icon icon="ph:chart-bar-duotone" height="26"></iconify-icon>
                        </div>
                        <div class="p-4 text-right">
                            <p
                                class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">
                                Bet Winrate</p>
                            <h4 id="betWinrate"
                                class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
                                %</h4>
                        </div>
                    </div>
                </div>

                <div class="mb-4 grid grid-cols-1 gap-6 xl:grid-cols-3">
                    <div
                        class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden px-2">
                        <div
                            class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6">
                            <div>
                                <h6
                                    class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-1">
                                    Bet Results</h6>
                            </div>
                        </div>
                        <div class="p-6 px-0 pt-0 pb-2">
                            <canvas id="balanceChart"></canvas>
                            <script>
                                let balanceChartInstance = null;

                                function fetchBetResults() {
                                    fetch('../bet_results.json')
                                        .then(response => response.json())
                                        .then(data => {
                                            // Set the current balance, total bets, and bet winrate
                                            document.getElementById('currentBalance').textContent = `🧂${data[data.length - 1].balance}`;
                                            document.getElementById('totalBets').textContent = data.length;
                                            const winCount = data.filter(entry => entry.result === 'win').length;
                                            const betWinrate = (winCount / data.length * 100).toFixed(2);
                                            document.getElementById('betWinrate').textContent = `${betWinrate}%`;

                                            const ctx = document.getElementById('balanceChart').getContext('2d');

                                            // Destroy the existing chart if it exists
                                            // Fixes: Canvas is already in use. Chart with ID '0' must be destroyed before the canvas with ID 'balanceChart' can be reused.
                                            if (balanceChartInstance) {
                                                balanceChartInstance.destroy();
                                            }

                                            const betCounts = data.map((entry, index) => index + 1);
                                            const balances = data.map(entry => parseInt(entry.balance));

                                            balanceChartInstance = new Chart(ctx, {
                                                type: 'line',
                                                data: {
                                                    labels: betCounts,
                                                    datasets: [{
                                                        label: 'Balance Over Bet Count',
                                                        data: balances,
                                                        borderColor: 'rgb(77, 194, 65)',
                                                        tension: 0.275
                                                    }]
                                                },
                                                options: {
                                                    scales: {
                                                        x: {
                                                            type: 'linear',
                                                            position: 'bottom',
                                                            title: {
                                                                display: true,
                                                                text: 'Bet Count'
                                                            }
                                                        },
                                                        y: {
                                                            beginAtZero: false,
                                                            title: {
                                                                display: true,
                                                                text: 'Balance'
                                                            }
                                                        }
                                                    }
                                                }
                                            });
                                        });
                                }

                                fetchBetResults();
                                setInterval(fetchBetResults, 60000); // Refresh the data every minute
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>